In [1]:
# Instructions to use this notebook are here: https://cloud.google.com/bigquery/docs/quickstarts/quickstart-client-libraries
from google.cloud import bigquery
import os
import pandas as pd

In [2]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "BigQueryCreds.json"

In [3]:
client = bigquery.Client()

In [4]:
query_job = client.query("""
    SELECT visitorId,visitId,visitStartTime,date,totals.visits,totals.hits,totals.timeonsite,totals.bounces,totals.transactions,totals.transactionrevenue,totals.newvisits,totals.timeonscreen,trafficsource.campaign,trafficsource.keyword,device.ismobile,device.operatingsystem,geonetwork.country,geonetwork.city,geonetwork.networkdomain FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20160901`""")

results = query_job.result()  # Waits for job to complete.

In [5]:
bq_df = results.to_dataframe()

In [6]:
bq_df

,visitorId,visitId,visitStartTime,date,visits,hits,timeonsite,bounces,transactions,transactionrevenue,newvisits,timeonscreen,campaign,keyword,ismobile,operatingsystem,country,city,networkdomain
0,None,1472743915,1472743915,20160901,1,1,NaN,1.0,NaN,NaN,NaN,None,(not set),(not provided),True,Android,Australia,Sydney,tpgi.com.au
1,None,1472743125,1472743125,20160901,1,1,NaN,1.0,NaN,NaN,1.0,None,(not set),(not provided),False,Windows,France,Paris,0pb.org
2,None,1472728566,1472728566,20160901,1,1,NaN,1.0,NaN,NaN,1.0,None,(not set),None,False,Macintosh,China,not available in demo dataset,16clouds.com
3,None,1472792306,1472792306,20160901,1,1,NaN,1.0,NaN,NaN,1.0,None,(not set),(not provided),False,Windows,Belgium,(not set),m247.com
4,None,1472783251,1472783251,20160901,1,1,NaN,1.0,NaN,NaN,NaN,None,(not set),(not provided),False,Macintosh,United States,New York,optonline.net
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2682,None,1472757047,1472757047,20160901,1,14,270.0,NaN,NaN,NaN,NaN,None,(not set),None,False,Windows,France,not available in demo dataset,unknown.unknown
2683,None,1472772090,1472772090,20160901,1,14,151.0,NaN,1.0,25480000.0,NaN,None,(not set),None,False,Windows,United States,not available in demo dataset,(not set)
2684,None,1472737778,1472737778,20160901,1,20,463.0,NaN,NaN,NaN,1.0,None,(not set),None,False,Windows,United States,not available in demo dataset,(not set)
2685,None,1472714118,1472714118,20160901,1,38,1134.0,NaN,NaN,NaN,NaN,None,(not set),None,False,Windows,Japan,not available in demo dataset,ocn.ne.jp
2686,None,1472788273,1472788273,20160901,1,77,2293.0,NaN,NaN,NaN,NaN,None,(not set),None,False,Windows,Thailand,Bangkok,unknown.unknown